{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{relation_service}' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-sm">

        <h1>{{ flash_values.module_name_sc ~ '_edit_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('{prefix}.edit', {'id': {prefix}.id}) }}" method="post" novalidate>

            <div class="form-group  {{ vld_style('ref') }}">
                <input class="form-group-item form-group-input" type="text" name="ref" value="{{ {prefix}.ref }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'ref'|trans }}</span></label>
            </div>
            {{ vld_feedback('ref')|raw }}

            <div class="form-group  {{ vld_style('surname') }}">
                <input class="form-group-item form-group-input" type="text" name="surname" value="{{ {prefix}.surname }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'surname'|trans }}</span></label>
            </div>
            {{ vld_feedback('surname')|raw }}

            <div class="form-group  {{ vld_style('name') }}">
                <input class="form-group-item form-group-input" type="text" name="name" value="{{ {prefix}.name }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'name'|trans }}</span></label>
            </div>
            {{ vld_feedback('name')|raw }}


            <div class="form-group select {{ vld_style('list_country_id') }}">
                <select class="form-group-item form-group-select" name="list_country_id" autocomplete="off" required>
                    {% set lc_init = lcs[1] %}
                    <option></option>
                    {% for lc in lcs %}
                        {% if {prefix}.list_country_id == lc.id %}
                            <option value="{{ lc.id }}" selected>{{ attribute(lc, local) }}</option>
                        {% else %}
                            <option value="{{ lc.id }}">{{ attribute(lc, local) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="name" class="form-group-item form-group-label-select"><span>{{ ('list_country')|trans }}</span></label>
            </div>
            {{ vld_feedback('list_country_id')|raw }}

            <div class="form-group select {{ vld_style('list_type_company_id') }}">
                <select class="form-group-item form-group-select" name="list_type_company_id" autocomplete="off" required>
                    {% set ltc_init = ltcs[1] %}
                    <option></option>
                    {% for ltc in ltcs %}
                        {% if {prefix}.list_type_company_id == ltc.id %}
                            <option value="{{ ltc.id }}" selected>{{ attribute(ltc, local) }}</option>
                        {% else %}
                            <option value="{{ ltc.id }}">{{ attribute(ltc, local) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="name" class="form-group-item form-group-label-select"><span>{{ ('list_type_company')|trans }}</span></label>
            </div>
            {{ vld_feedback('list_type_company_id')|raw }}

            {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('{prefix}s.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'edit_{relation_service}'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}