{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form_multiple.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{relation_service}' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages(report) }}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_edit_multiple_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('apc-{prefix}s.edit', {'page': page}) }}" method="post" novalidate>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>

                        <th class="text-center">{{ 'ref'|trans }}</th>
                        <th class="text-center">{{ 'surname'|trans }}</th>
                        <th class="text-center">{{ 'name'|trans }}</th>
                        <th class="text-center">{{ 'type_company'|trans }}</th>
                        <th class="text-center">{{ 'country'|trans }}</th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {% for i, {prefix} in {prefix}s %}
                        <tr>

                            <td class="text-center">
                                <div class="form-group  {{ vld_style('ref', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="ref[{{ i }}]" value="{{ {prefix}.ref }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('ref', i)|raw }}
                            </td>

                            <td class="text-center">
                                <div class="form-group  {{ vld_style('surname', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="surname[{{ i }}]" value="{{ {prefix}.surname }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('surname', i)|raw }}
                            </td>

                            <td class="text-center">
                                <div class="form-group  {{ vld_style('name', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="name[{{ i }}]" value="{{ {prefix}.name }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('name', i)|raw }}
                            </td>


                            <td class="text-center">
                                <select class="form-group-input table-select" name="list_type_company_id[{{ i }}]" autocomplete="off" required>
                                    {% set ltc_init = ltcs[1] %}
                                    <option></option>
                                    {% for ltc in ltcs %}
                                        {% if {prefix}.list_type_company_id == ltc.id %}
                                            <option value="{{ ltc.id }}" selected>{{ attribute(ltc, local) }}</option>
                                        {% else %}
                                            <option value="{{ ltc.id }}">{{ attribute(ltc, local) }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {{ vld_feedback('list_type_company_id', i)|raw }}
                            </td>

                            <td class="text-center">
                                <select class="form-group-input table-select" name="list_country_id[{{ i }}]" autocomplete="off" required>
                                    {% set lc_init = lcs[1] %}
                                    <option></option>
                                    {% for lc in lcs %}
                                        {% if {prefix}.list_country_id == lc.id %}
                                            <option value="{{ lc.id }}" selected>{{ attribute(lc, local) }}</option>
                                        {% else %}
                                            <option value="{{ lc.id }}">{{ attribute(lc, local) }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {{ vld_feedback('list_country_id', i)|raw }}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {{ csrf()|raw }}

            {{ set_links()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('apc-{prefix}s.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'edit_multiple_{relation_service}'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}