{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{relation_service}' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_show_all_paginated_list'|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

                    <th class="text-center">{{ 'ref'|trans }}</th>
                    <th class="text-center">{{ 'surname'|trans }}</th>
                    <th class="text-center">{{ 'name'|trans }}</th>
                    <th class="text-center">{{ 'type_company'|trans }}</th>
                    <th class="text-center">{{ 'country'|trans }}</th>

                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for {prefix} in {prefix}s %}
                    {% set type_company = {prefix}.list_type_company %}
                    {% set country = {prefix}.list_country %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ {prefix}.ref }}</td>
                        <td class="text-center">{{ {prefix}.surname }}</td>
                        <td class="text-center">{{ {prefix}.name }}</td>
                        <td class="text-center">{{ attribute(type_company, local) }}</td>
                        <td class="text-center">{{ attribute(country, local) }}</td>

                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.show-one-by-id', {'id': {prefix}.id}) }}">{{ 'details'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.edit', {'id': {prefix}.id}) }}">{{ 'update'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('apc-{prefix}.remove', {'id': {prefix}.id}) }}">{{ 'remove'|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ set_links()|raw }}

        <div class="list-buttons text-right">
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}s.add') }}" role="button">{{ 'add_multiple'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}s.edit') }}" role="button">{{ 'edit_multiple'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}s.remove') }}" role="button">{{ 'remove_multiple'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('apc-{prefix}.add') }}" role="button">{{ 'add'|trans }}</a>
        </div>

    </div>

{% endblock %}